@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800&display=swap');


body{
    color: black;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.9px;
}

*{
    margin:0;
    padding: 0;
    border: 0;
}

header{
    padding: 18px 0;
    border-bottom: 2px solid black;
}

.title{
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}

.title a {
    letter-spacing: 1.5px;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    color: black;
}

/* content */
.content{
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 0;
}
.categorias{
    margin-top: 20px;
    text-align: center;
}

select{
    padding: 8px;
    border: 1px solid black;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.9px;
}
.categorias-title{
    font-size: 18px;
}

.categorias-title, .categorias-content{
    padding-bottom: 8px;
}

.card{
    margin: 26px 0 30px 0;
    padding: 20px;
    
    text-align: justify;
    border-right: 0.5px solid rgba(0, 0, 0, 0.2);
}
.card p{
    font-size: 22px;
    
}

.cards .card:last-child{
    border-right: none;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px 0;
}

/* new note */

.new-note{
    text-align: center;
}

.text-new-note {
    font-size: 24px;
}
.text-new-note p{
    padding-bottom: 8px;
}

.new-note button {
    background: black;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'Playfair Display',serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}
.new-note button:hover {
    background: white;
    color: black;
    border: 2px solid black;

}

.button-new-note {
    padding: 16px 0;
    
}
/* footer */

footer{
    border-top: 1px solid black;
    text-align: center;
    padding: 10px;
}